<!-- Create a dark bootstrap footer that appears at the end of the page -->
<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>CartSharp</h4>
                <p>CartSharp is a shopping cart application that allows users to create and manage their own shopping
                    carts.</p>
            </div>
            <div class="col-md-4">
                <h4>Links</h4>
                <ul class="list-unstyled">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://www.twitter.com">Twitter</a></li>
                    <li><a href="https://www.instagram.com">Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">
            &copy; 2021 CartSharp | All Rights Reserved
        </p>
    </div>
</footer>
