<div class="container">
    <h1 class="text-center my-4">Add Product</h1>
    <form #form="ngForm" (ngSubmit)="saveData()" *ngIf="categories">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" [(ngModel)]="model.name" class="form-control" required>
        </div>
        <div>
            <label for="name">Meta Description</label>
            <textarea type="text" name="metaDescription" [(ngModel)]="model.metaDescription" class="form-control" required></textarea>
        </div>
        <div>
            <label for="name">Description</label>
            <textarea type="text" name="description" [(ngModel)]="model.description" class="form-control" required></textarea>
        </div>
        <div>
            <label for="name">Price</label>
            <input type="text" name="price" [(ngModel)]="model.price" class="form-control" required>
        </div>
        <div>
            <label for="name">Stock</label>
            <textarea type="text" name="stock" [(ngModel)]="model.stock" class="form-control" required></textarea>
        </div>
        <div>
            <label for="name">Category</label>
            <select name="categoryId" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="my-2 d-flex">
            <button class="btn btn-primary ms-auto">Save</button>
        </div>
    </form>
    <app-loader *ngIf="!categories"></app-loader>
</div>
