<div class="container">
    <h1 class="text-center my-4">Product</h1>
    <form #form="ngForm" (ngSubmit)="saveData()" *ngIf="categories">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" [(ngModel)]="model.name" class="form-control" required>
        </div>
        <div>
            <label for="metaDescription">Meta Description</label>
            <textarea type="text" name="metaDescription" [(ngModel)]="model.metaDescription" class="form-control" required></textarea>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea type="text" name="description" [(ngModel)]="model.description" class="form-control" required></textarea>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="price" [(ngModel)]="model.price" class="form-control" required>
        </div>
        <div>
            <label for="stock">Stock</label>
            <input type="number" name="stock" [(ngModel)]="model.stock" class="form-control" required>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" name="image" class="form-control" required
                (change)="fileSelected($event)">
        </div>
        <div>
            <label for="categoryId">Category</label>
            <select name="categoryId" class="form-control" [(ngModel)]="model.categoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="my-2 d-flex">
            <button class="btn btn-primary ms-auto">Save</button>
        </div>
    </form>
    <app-loader *ngIf="!categories"></app-loader>
</div>
