<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">🛒 CartSharp</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning" [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
